<style id="applicationStylesheet" type="text/css">
	.mediaViewInfo {
		--web-view-name: Landing Page – 1;
		--web-view-id: Landing_Page__1;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	:root {
		--web-view-ids: Landing_Page__1;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Landing_Page__1 {
		position: absolute;
		width: 2834px;
		height: 6570px;
		background-color: rgba(5,5,5,1);
		overflow: hidden;
		--web-view-name: Landing Page – 1;
		--web-view-id: Landing_Page__1;
		--web-scale-on-resize: true;
		--web-enable-deep-linking: true;
	}
	@keyframes  {
	
	
	}
	@keyframes  {
	
	
	}
	@keyframes  {
	
	
	}
	@keyframes  {
	
	
	}
	@keyframes  {
	
	
	}
	#Video {
		position: absolute;
		width: 2834px;
		height: 1029px;
		left: 0px;
		top: 239px;
		overflow: visible;
	}
	#Post_Preview {
		position: absolute;
		width: 2834px;
		height: 1547px;
		left: 0px;
		top: 1724px;
		overflow: visible;
	}
	#Rectangle_86 {
		fill: rgba(180,180,180,1);
	}
	.Rectangle_86 {
		position: absolute;
		overflow: visible;
		width: 345px;
		height: 492px;
		left: 1479.229px;
		top: 402.65px;
	}
	#Post_Preview_p {
		position: absolute;
		width: 2834px;
		height: 1547px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Mask_Group_2 {
		opacity: 0.46;
		position: absolute;
		width: 2834px;
		height: 1547px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Rectangle_85 {
		fill: rgba(0,0,0,1);
	}
	.Rectangle_85 {
		position: absolute;
		overflow: visible;
		width: 1342.152px;
		height: 970px;
		left: 316.823px;
		top: 56.061px;
	}
	#Rectangle_751 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_751 {
		position: absolute;
		overflow: visible;
		width: 1371px;
		height: 1024px;
		left: 17px;
		top: 93px;
	}
	#n_Systems_integrators_and_cons {
		left: 33px;
		top: 405px;
		position: absolute;
		overflow: visible;
		width: 1129px;
		height: 517px;
		line-height: 89px;
		margin-top: -29.5px;
		text-align: center;
		font-family: Elza;
		font-style: normal;
		font-weight: lighter;
		font-size: 30px;
		color: rgba(3,3,4,1);
		letter-spacing: 0.4px;
	}
	#Our_Mission {
		left: 275px;
		top: 251px;
		position: absolute;
		overflow: visible;
		width: 758px;
		white-space: nowrap;
		line-height: 315px;
		margin-top: -83.5px;
		text-align: left;
		font-family: Elza;
		font-style: normal;
		font-weight: bold;
		font-size: 148px;
		color: rgba(3,3,4,1);
		letter-spacing: 0.4px;
	}
	#Rectangle_84 {
		fill: rgba(0,0,0,1);
	}
	.Rectangle_84 {
		position: absolute;
		overflow: visible;
		width: 1573px;
		height: 1179px;
		left: 1186.745px;
		top: 284.651px;
	}
	#IMG_4811 {
		position: absolute;
		width: 1516px;
		height: 1137px;
		left: 1217px;
		top: 304px;
		overflow: visible;
	}
	#image_black_24dp {
		opacity: 0.41;
		position: absolute;
		width: 557.177px;
		height: 623.657px;
		left: 1479.788px;
		top: 2526.408px;
		overflow: visible;
	}
	#Path_200 {
		fill: transparent;
	}
	.Path_200 {
		overflow: visible;
		position: absolute;
		width: 557.177px;
		height: 623.657px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Group_1 {
		position: absolute;
		width: 1614px;
		height: 183px;
		left: 529px;
		top: 3265px;
		overflow: visible;
	}
	#Header {
		position: absolute;
		width: 1614px;
		height: 183px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Our_Partners__Clients {
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 1615px;
		white-space: nowrap;
		text-align: center;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 161px;
		color: rgba(255,255,255,1);
	}
	#Footer_1 {
		position: absolute;
		width: 2857px;
		height: 1218px;
		left: -23px;
		top: 5332px;
		overflow: visible;
	}
	#Base {
		fill: rgba(0,0,0,1);
	}
	.Base {
		position: absolute;
		overflow: visible;
		width: 2829px;
		height: 236px;
		left: 0px;
		top: 938px;
	}
	#CONTACT_US {
		left: 131px;
		top: 971px;
		position: absolute;
		overflow: visible;
		width: 257px;
		white-space: nowrap;
		line-height: 48px;
		margin-top: -4px;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(255,255,255,1);
	}
	#n_05-775-1100_SalesMillenniums {
		transform: translate(0px, 0px) matrix(1,0,0,1,455.3806,900.4444) rotate(0deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 587px;
		white-space: nowrap;
		line-height: 98px;
		margin-top: -24.5px;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 49px;
		color: rgba(255,255,255,1);
	}
	#SERVICES {
		left: 1104.867px;
		top: 984.905px;
		position: absolute;
		overflow: visible;
		width: 203px;
		white-space: nowrap;
		line-height: 48px;
		margin-top: -4px;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(255,255,255,1);
	}
	#n_Work_With_US_Privacy_Policy_ {
		left: 2015.254px;
		top: 767.402px;
		position: absolute;
		overflow: visible;
		width: 348px;
		white-space: nowrap;
		line-height: 80px;
		margin-top: -20px;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 40px;
		color: rgba(255,255,255,1);
	}
	#social {
		position: absolute;
		width: 1576px;
		height: 1218px;
		left: 1281px;
		top: 0px;
		overflow: visible;
	}
	#Component_13__1 {
		position: absolute;
		width: 211px;
		height: 239px;
		left: 1156px;
		top: 979px;
		overflow: visible;
	}
	#Path_3 {
		fill: rgba(255,255,255,1);
	}
	.Path_3 {
		overflow: visible;
		position: absolute;
		width: 142px;
		height: 142px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#icons8-linkedin-50 {
		position: absolute;
		width: 191px;
		height: 191px;
		left: 1385px;
		top: 380px;
		overflow: visible;
	}
	#icons8-linkedin-48 {
		position: absolute;
		width: 48px;
		height: 48px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Home {
		left: 1350.324px;
		top: 873.018px;
		position: absolute;
		overflow: visible;
		width: 119px;
		white-space: nowrap;
		line-height: 88px;
		margin-top: -22px;
		text-align: center;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 44px;
		color: rgba(255,255,255,1);
	}
	#About_Us {
		left: 1326.531px;
		top: 937.989px;
		position: absolute;
		overflow: visible;
		width: 182px;
		white-space: nowrap;
		--web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: Career_Page___1.html;
		cursor: pointer;
		line-height: 88px;
		margin-top: -22px;
		text-align: center;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 44px;
		color: rgba(255,255,255,1);
	}
	#Careers {
		left: 1331.333px;
		top: 1002.961px;
		position: absolute;
		overflow: visible;
		width: 157px;
		white-space: nowrap;
		--web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: Career_Page.html;
		cursor: pointer;
		line-height: 88px;
		margin-top: -22px;
		text-align: center;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 44px;
		color: rgba(255,255,255,1);
	}
	#Employee {
		left: 1318.578px;
		top: 1067.933px;
		position: absolute;
		overflow: visible;
		width: 197px;
		white-space: nowrap;
		--web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: Emplyees_Page.html;
		cursor: pointer;
		line-height: 88px;
		margin-top: -22px;
		text-align: center;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 44px;
		color: rgba(255,255,255,1);
	}
	#Gallery {
		left: 1335.704px;
		top: 1133.707px;
		position: absolute;
		overflow: visible;
		width: 141px;
		white-space: nowrap;
		line-height: 88px;
		margin-top: -22px;
		text-align: center;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 44px;
		color: rgba(255,255,255,1);
	}
	#Mask_Group_7 {
		position: absolute;
		width: 2834px;
		height: 1311px;
		left: 0px;
		top: 4818px;
		overflow: visible;
	}
	#Rectangle_394 {
		fill: rgba(52,152,219,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_394 {
		position: absolute;
		overflow: visible;
		width: 2834px;
		height: 55px;
		left: 0px;
		top: 1750px;
	}
	#Rectangle_395 {
		fill: rgba(65,105,226,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_395 {
		position: absolute;
		overflow: visible;
		width: 2834px;
		height: 59px;
		left: 0px;
		top: 3169px;
	}
	#Rectangle_396 {
		fill: rgba(65,105,226,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_396 {
		position: absolute;
		overflow: visible;
		width: 1275px;
		height: 913px;
		left: 1492px;
		top: 5192px;
	}
	#Contact_Us_for_Your_Automation {
		left: 784px;
		top: 4965.5px;
		position: absolute;
		overflow: visible;
		width: 1267px;
		white-space: nowrap;
		line-height: 84px;
		margin-top: -7.5px;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 69px;
		color: rgba(255,255,255,1);
	}
	#Input_-_Required_Field {
		position: absolute;
		width: 1344px;
		height: 81px;
		left: 49px;
		top: 5178px;
		overflow: visible;
	}
	#Rectangle_555 {
		fill: rgba(255,255,255,1);
		stroke: rgba(188,224,253,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_555 {
		position: absolute;
		overflow: visible;
		width: 1244px;
		height: 81px;
		left: 100px;
		top: 0px;
	}
	#Rectangle_582 {
		fill: rgba(65,105,226,1);
	}
	.Rectangle_582 {
		position: absolute;
		overflow: visible;
		width: 222px;
		height: 81px;
		left: 0px;
		top: 0px;
	}
	#Required_Field {
		left: 546px;
		top: 18px;
		position: absolute;
		overflow: visible;
		width: 339px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 52px;
		color: rgba(188,224,253,1);
	}
	#FULL_NAME {
		left: 14px;
		top: 31px;
		position: absolute;
		overflow: visible;
		width: 174px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,255,255,1);
	}
	#Input_-_Focused_Field {
		position: absolute;
		width: 1344px;
		height: 81px;
		left: 49px;
		top: 5334px;
		overflow: visible;
	}
	#Rectangle_556 {
		fill: rgba(255,255,255,1);
		stroke: rgba(127,196,253,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_556 {
		position: absolute;
		overflow: visible;
		width: 1244px;
		height: 81px;
		left: 100px;
		top: 0px;
	}
	#Required_Field_bu {
		left: 550px;
		top: 12px;
		position: absolute;
		overflow: visible;
		width: 333px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 51px;
		color: rgba(188,224,253,1);
	}
	#Rectangle_583 {
		fill: rgba(65,105,226,1);
	}
	.Rectangle_583 {
		position: absolute;
		overflow: visible;
		width: 219px;
		height: 81px;
		left: 0px;
		top: 0px;
	}
	#E-mail {
		left: 43px;
		top: 34px;
		position: absolute;
		overflow: visible;
		width: 91px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,255,255,1);
	}
	#Input_-_Typing {
		position: absolute;
		width: 1344px;
		height: 77px;
		left: 49px;
		top: 5490px;
		overflow: visible;
	}
	#Rectangle_558 {
		fill: rgba(255,255,255,1);
		stroke: rgba(127,196,253,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_558 {
		position: absolute;
		overflow: visible;
		width: 1244px;
		height: 77px;
		left: 100px;
		top: 0px;
	}
	#Rectangle_584 {
		fill: rgba(65,105,226,1);
	}
	.Rectangle_584 {
		position: absolute;
		overflow: visible;
		width: 228px;
		height: 77px;
		left: 0px;
		top: 0px;
	}
	#Phone_Number {
		left: 4px;
		top: 16px;
		position: absolute;
		overflow: visible;
		width: 215px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,255,255,1);
	}
	#Input_-_Entered {
		position: absolute;
		width: 1344px;
		height: 405px;
		left: 49px;
		top: 5648px;
		overflow: visible;
	}
	#Rectangle_561 {
		fill: rgba(255,255,255,1);
		stroke: rgba(188,224,253,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_561 {
		position: absolute;
		overflow: visible;
		width: 1244px;
		height: 405px;
		left: 100px;
		top: 0px;
	}
	#Rectangle_585 {
		fill: rgba(65,105,226,1);
	}
	.Rectangle_585 {
		position: absolute;
		overflow: visible;
		width: 231px;
		height: 405px;
		left: 0px;
		top: 0px;
	}
	#Comments {
		left: 38px;
		top: 186px;
		position: absolute;
		overflow: visible;
		width: 156px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,255,255,1);
	}
	#Navigation_Bar {
		position: absolute;
		width: 2834px;
		height: 1384px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#MILLENIUM_WHITE_AND_ROYAL_BLUE {
		position: absolute;
		width: 221px;
		height: 221px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Small_but_Wide {
		fill: transparent;
	}
	.Small_but_Wide {
		overflow: hidden;
		position: absolute;
		width: 2834px;
		height: 1113px;
		left: 0px;
		top: 271px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Base_b {
		opacity: 0.9;
		fill: rgba(65,105,226,1);
	}
	.Base_b {
		position: absolute;
		overflow: visible;
		width: 2834px;
		height: 87px;
		left: 0px;
		top: 222px;
	}
	#ABOUT {
		left: 249px;
		top: 246px;
		position: absolute;
		overflow: visible;
		width: 132px;
		white-space: nowrap;
		--web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: Career_Page___1.html;
		cursor: pointer;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 38px;
		color: rgba(255,255,255,1);
	}
	#EMPLOYEES {
		transform: translate(0px, 0px) matrix(1,0,0,1,764.0001,249.9999) rotate(0deg);
		transform-origin: center;
		left: 0px;
		top: 0px;
		position: absolute;
		overflow: visible;
		width: 235px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 38px;
		color: rgba(0,0,0,1);
	}
	#GALLERY {
		left: 1098px;
		top: 245px;
		position: absolute;
		overflow: visible;
		width: 176px;
		white-space: nowrap;
		line-height: 57px;
		margin-top: -9.5px;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 38px;
		color: rgba(0,0,0,1);
	}
	#CAREERS {
		left: 480px;
		top: 246px;
		position: absolute;
		overflow: visible;
		width: 185px;
		white-space: nowrap;
		--web-animation: fadein undefineds undefined;
		--web-action-type: page;
		--web-action-target: Career_Page.html;
		cursor: pointer;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 38px;
		color: rgba(0,0,0,1);
	}
	#home_black_24dp {
		position: absolute;
		width: 85.979px;
		height: 79.5px;
		left: 47.021px;
		top: 227.5px;
		overflow: visible;
	}
	#Path_202 {
		fill: transparent;
	}
	.Path_202 {
		overflow: visible;
		position: absolute;
		width: 85.979px;
		height: 79.5px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_203 {
		fill: rgba(0,0,0,1);
	}
	.Path_203 {
		overflow: visible;
		position: absolute;
		width: 81.979px;
		height: 72.5px;
		left: 2px;
		top: 3px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Required_Field_cg {
		left: 429px;
		top: 5500px;
		position: absolute;
		overflow: visible;
		width: 339px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: normal;
		font-size: 52px;
		color: rgba(188,224,253,1);
	}
	#Mask_Group_3 {
		position: absolute;
		width: 1097px;
		height: 446px;
		left: 0px;
		top: 1134px;
		overflow: visible;
	}
	#Rectangle_754 {
		fill: rgba(52,152,219,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_754 {
		position: absolute;
		overflow: visible;
		width: 1097px;
		height: 161px;
		left: 0px;
		top: 1580px;
	}
	#Rectangle_755 {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_755 {
		position: absolute;
		overflow: visible;
		width: 903px;
		height: 158px;
		left: 0px;
		top: 1606px;
	}
	#Cutting-edge_Automation_Soluti {
		left: 133px;
		top: 1621px;
		position: absolute;
		overflow: visible;
		width: 749px;
		white-space: nowrap;
		line-height: 102px;
		margin-top: -27px;
		text-align: center;
		font-family: Elza;
		font-style: normal;
		font-weight: bold;
		font-size: 48px;
		color: rgba(3,3,4,1);
		letter-spacing: 0.4px;
	}
	#Innovate_Your_Industry {
		left: 317px;
		top: 1681px;
		position: absolute;
		overflow: visible;
		width: 381px;
		white-space: nowrap;
		line-height: 91px;
		margin-top: -24px;
		text-align: center;
		font-family: Elza;
		font-style: normal;
		font-weight: lighter;
		font-size: 43px;
		color: rgba(3,3,4,1);
		letter-spacing: 0.4px;
	}
	#Mask_Group_4 {
		position: absolute;
		width: 973px;
		height: 498px;
		left: 903px;
		top: 1134px;
		overflow: visible;
	}
	#Rectangle_757 {
		fill: rgba(52,152,219,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_757 {
		position: absolute;
		overflow: visible;
		width: 973px;
		height: 161px;
		left: 903px;
		top: 1580px;
	}
	#Rectangle_758 {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_758 {
		position: absolute;
		overflow: visible;
		width: 973px;
		height: 154px;
		left: 903px;
		top: 1606px;
	}
	#Streamline_Your_Operations {
		left: 1025px;
		top: 1619px;
		position: absolute;
		overflow: visible;
		width: 613px;
		white-space: nowrap;
		line-height: 108px;
		margin-top: -28.5px;
		text-align: center;
		font-family: Elza;
		font-style: normal;
		font-weight: bold;
		font-size: 51px;
		color: rgba(3,3,4,1);
		letter-spacing: 0.4px;
	}
	#Revolutionize_Your_Workflow {
		left: 1096px;
		top: 1679px;
		position: absolute;
		overflow: visible;
		width: 467px;
		white-space: nowrap;
		line-height: 89px;
		margin-top: -23.5px;
		text-align: center;
		font-family: Elza;
		font-style: normal;
		font-weight: lighter;
		font-size: 42px;
		color: rgba(3,3,4,1);
		letter-spacing: 0.4px;
	}
	#Mask_Group_5 {
		position: absolute;
		width: 1477px;
		height: 466px;
		left: 1793px;
		top: 1134px;
		overflow: visible;
	}
	#Rectangle_760 {
		fill: rgba(52,152,219,1);
	}
	.Rectangle_760 {
		position: absolute;
		overflow: visible;
		width: 1036px;
		height: 161px;
		left: 1798px;
		top: 1580px;
	}
	#Rectangle_761 {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_761 {
		position: absolute;
		overflow: visible;
		width: 1053px;
		height: 144px;
		left: 1781px;
		top: 1606px;
	}
	#Expert_user_training {
		left: 1940px;
		top: 1622px;
		position: absolute;
		overflow: visible;
		width: 479px;
		white-space: nowrap;
		line-height: 117px;
		margin-top: -31px;
		text-align: center;
		font-family: Elza;
		font-style: normal;
		font-weight: bold;
		font-size: 55px;
		color: rgba(3,3,4,1);
		letter-spacing: 0.4px;
	}
	#Empower_your_workforce {
		left: 1978px;
		top: 1684px;
		position: absolute;
		overflow: visible;
		width: 413px;
		white-space: nowrap;
		line-height: 89px;
		margin-top: -23.5px;
		text-align: center;
		font-family: Elza;
		font-style: normal;
		font-weight: lighter;
		font-size: 42px;
		color: rgba(3,3,4,1);
		letter-spacing: 0.4px;
	}
	#Rectangle_762 {
		fill: rgba(65,105,226,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_762 {
		filter: drop-shadow(3px 5px 6px rgba(0, 0, 0, 0.161));
		position: absolute;
		overflow: visible;
		width: 417px;
		height: 138px;
		left: 404px;
		top: 2657px;
	}
	#About_Us_cx {
		left: 531px;
		top: 2688px;
		position: absolute;
		overflow: visible;
		width: 194px;
		white-space: nowrap;
		line-height: 104px;
		margin-top: -27.5px;
		text-align: left;
		font-family: Elza;
		font-style: normal;
		font-weight: bold;
		font-size: 49px;
		color: rgba(255,255,255,1);
		letter-spacing: 0.4px;
	}
	#Rectangle_767 {
		fill: rgba(2,2,2,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_767 {
		position: absolute;
		overflow: visible;
		width: 2834px;
		height: 1779px;
		left: 0px;
		top: 3114px;
	}
	#Rectangle_763 {
		fill: rgba(65,105,226,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_763 {
		position: absolute;
		overflow: visible;
		width: 2834px;
		height: 55px;
		left: 0px;
		top: 1750px;
	}
	#Rectangle_764 {
		fill: rgba(65,105,226,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_764 {
		position: absolute;
		overflow: visible;
		width: 2834px;
		height: 45px;
		left: 0px;
		top: 1089px;
	}
	#Scroll_Group_2 {
		mix-blend-mode: normal;
		position: absolute;
		width: 3496.81px;
		height: 822.938px;
		left: 52px;
		top: 3733.798px;
		overflow: hidden;
	}
	#Scroll_Group_3 {
		mix-blend-mode: normal;
		position: absolute;
		width: 3394.882px;
		height: 822.938px;
		left: 4px;
		top: 0px;
		overflow: hidden;
	}
	#Group_9 {
		position: absolute;
		width: 6776.882px;
		height: 822.938px;
		left: -4px;
		top: 0px;
		overflow: visible;
	}
	#Path_204 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_204 {
		overflow: visible;
		position: absolute;
		width: 1087.735px;
		height: 822.938px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_204_c {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_204_c {
		overflow: visible;
		position: absolute;
		width: 1087.735px;
		height: 822.938px;
		left: 1145.633px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_204_da {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_204_da {
		overflow: visible;
		position: absolute;
		width: 1087.735px;
		height: 822.938px;
		left: 2292px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_205 {
		fill: rgba(0,33,86,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_205 {
		overflow: visible;
		position: absolute;
		width: 1087.735px;
		height: 822.938px;
		left: 3425.147px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_206 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_206 {
		overflow: visible;
		position: absolute;
		width: 1087.735px;
		height: 822.938px;
		left: 4557.147px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Path_207 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Path_207 {
		overflow: visible;
		position: absolute;
		width: 1087.735px;
		height: 822.938px;
		left: 5689.147px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#n_852 {
		position: absolute;
		width: 775px;
		height: 226px;
		left: 172px;
		top: 275px;
		overflow: visible;
	}
	#n_65 {
		position: absolute;
		width: 1009px;
		height: 325px;
		left: 1185px;
		top: 232px;
		overflow: visible;
	}
	#n_58 {
		position: absolute;
		width: 982.559px;
		height: 281.016px;
		left: 2344.588px;
		top: 232.878px;
		overflow: visible;
	}
	#n_545 {
		position: absolute;
		width: 999px;
		height: 529px;
		left: 3470px;
		top: 130px;
		overflow: visible;
	}
	#n_55 {
		position: absolute;
		width: 929px;
		height: 281px;
		left: 4637px;
		top: 248px;
		overflow: visible;
	}
	#n_4554 {
		position: absolute;
		width: 925px;
		height: 331px;
		left: 5788px;
		top: 237px;
		overflow: visible;
	}
	#Our_Clients__Partners {
		left: 499px;
		top: 3304px;
		position: absolute;
		overflow: visible;
		width: 1615px;
		white-space: nowrap;
		text-align: center;
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 161px;
		color: rgba(255,255,255,1);
	}
	#Rectangle_768 {
		fill: rgba(65,105,226,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_768 {
		position: absolute;
		overflow: visible;
		width: 2834px;
		height: 59px;
		left: 0px;
		top: 4833px;
	}
	#dashboard_map_wireframe_4x {
		position: absolute;
		width: 1174px;
		height: 881px;
		left: 1450px;
		top: 5218px;
		overflow: visible;
	}
	#icons8-linkedin_1 {
		fill: rgba(255,255,255,1);
	}
	.icons8-linkedin_1 {
		overflow: visible;
		position: absolute;
		width: 166.542px;
		height: 148.942px;
		left: 2574.186px;
		top: 6324.559px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Connect_With_Us {
		left: 2345px;
		top: 6229px;
		position: absolute;
		overflow: visible;
		width: 361px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 45px;
		color: rgba(255,255,255,1);
	}
	#Group_9_dl {
		position: absolute;
		width: 240px;
		height: 125.179px;
		left: 2184px;
		top: 70.821px;
		overflow: visible;
	}
	#icons8-linkedin_1_dm {
		fill: rgba(255,255,255,1);
	}
	.icons8-linkedin_1_dm {
		overflow: visible;
		position: absolute;
		width: 99.246px;
		height: 92.178px;
		left: 21.12px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Connect_With_Us_dn {
		left: 0px;
		top: 92.179px;
		position: absolute;
		overflow: visible;
		width: 241px;
		white-space: nowrap;
		text-align: left;
		font-family: Arial;
		font-style: normal;
		font-weight: bold;
		font-size: 30px;
		color: rgba(255,255,255,1);
	}
	#social_do {
		position: absolute;
		width: 85.178px;
		height: 85.178px;
		left: 132.366px;
		top: 0px;
		overflow: visible;
	}
	#Component_13__2 {
		position: absolute;
		width: 85.178px;
		height: 85.178px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#Path_3_dq {
		fill: rgba(255,255,255,1);
	}
	.Path_3_dq {
		overflow: visible;
		position: absolute;
		width: 85.178px;
		height: 85.178px;
		left: 0px;
		top: 0px;
		transform: matrix(1,0,0,1,0,0);
	}
	#MILLENIUM_WHITE_AND_ROYAL_BLUE_dr {
		position: absolute;
		width: 775px;
		height: 776px;
		left: 0px;
		top: 310px;
		overflow: visible;
	}
</style>